<div class="navbar navbar-expand-sm navbar-light navbar-lewagon w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag "3.jpeg", class: "logo" %>
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item btn btn-ghost">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item btn btn-ghost">
          <%= link_to "Projects", projects_path, class: "nav-link" %>
        </li>
        <li class="nav-item btn btn-ghost">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item btn btn-ghost">
          <%= link_to "Contact", contact_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
