<div class="container">
  <h1>My Projects</h1>
  <% @projects.each do |project| %>
    <div class="my-4 p-3 project-card ">
      <%# <div class="project-left"> %>
        <div class="project-pic"></div>
        <div class="project-info d-flex justify-content-between">
          <%= link_to project_path(project) do %>
            <h3 class="fw-bolder"><%= project.title %></h3>
          <% end %>
          <h4><%= project.year %></h4>
        </div>
        <h6><%= project.role %></h6>
        <p class="px-3"><%= project.description %></p>
        <div class="carousel carousel-center rounded-box h-100 w-96">
          <% project.photos.each do |photo| %>
            <div class="carousel-item">
              <%= cl_image_tag photo.key, alt: 'project image'%>
            </div>
          <% end %>
        </div>
        <ul>
          <% project.skills.each do |skill| %>
          <li class="tw-text-xs tw-inline-flex tw-items-center tw-font-bold tw-leading-sm tw-uppercase tw-px-3 tw-py-1 tw-bg-blue-200 tw-text-blue-700 tw-rounded-full">
            <%= skill %>
          </li>
          <% end %>
        </ul>
      <%# </div> %>
      <div class="carousel rounded-box w-96">
        <% project.photos.each do |photo| %>
          <div class="carousel-item w-1/2">
            <%= cl_image_tag photo.key, class: "w-full" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
